graph TD
{{ range .Subdomains -}}
{{ $subdomainKey := nodeid "subdomain" .Key -}}
    {{ $subdomainKey }}["{{ .Name }}"]
{{ end -}}
{{ range .Associations -}}
{{ $problemSubdomainKey := nodeid "subdomain" .ProblemSubdomainKey -}}
{{ $solutionSubdomainKey := nodeid "subdomain" .SolutionSubdomainKey -}}
    {{ $problemSubdomainKey }} -.-> {{ $solutionSubdomainKey }}
{{ end -}}
